@font-face {
  font-family: "iconfont"; /* Project id 4707932 */
  src: url('//at.alicdn.com/t/c/font_4707932_lyv5tpo61h.woff2?t=1728653489254') format('woff2'),
       url('//at.alicdn.com/t/c/font_4707932_lyv5tpo61h.woff?t=1728653489254') format('woff'),
       url('//at.alicdn.com/t/c/font_4707932_lyv5tpo61h.ttf?t=1728653489254') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili-fill:before {
  content: "\ea95";
}
